-
	var
		logo = {
			default: 'logo-default-260x100.png',
			inverse: 'logo-inverse-260x100.png',
			name: 'Component Trunk'
		},

		buyLink = '#',

		menu = {
			type: 'root',
			child: [
				{
					title: 'Home',
					link: '#home',
					home: true
				},

				{
					title: 'About',
					link: '#about'
				},

				{
					title: 'Services',
					link: '#services'
				},

				{
					title: 'Reviews',
					link: '#reviews'
				},

				{
					title: 'Contacts',
					link: '#contacts'
				}
			]
		},

		homePage,
		pageName,
		pageId,
		pageClass,
		htmlClass,
		breadcrumbs = [];
