@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.footer {
	padding: px-to-rem( 70px, 0 );
}


// Media
@include media-breakpoint-up(lg) {
	.footer {
		padding: px-to-rem( 100px, 0 );
	}
}

@include media-breakpoint-up(xl) {
	.footer {
		padding: px-to-rem( 150px, 0 );
	}
}
