// About us 1
section#about.section-md.bg-transparent
	.container
		.row.row-30.justify-content-center
			.col-sm-5.col-lg-4.col-xxl-6
				.image-responsive
					+img( 'image-02-400x520' ).image
			.col-sm-7.col-lg-6.col-xl-5.col-xxl-6
				h2 About Dr. Jose Ruano Williams, Family Doctor
				h3.text-primary Dr. Courtney Williams, F.D., is one of the top family medicine practitioners in the United States.
				p As one of the most experienced family doctors in the area, Dr. Courtney Williams, F.D., has experience in emergency medicine and physical therapy. Her professional background allows her to deliver the utmost level of health care for her patients. You can expect high-quality approach from Dr. Williams.
				ul.list.list-marked-2.font-weight-medium.text-dark
					li.list-item Emergency & express care services
					li.list-item Home care & medication therapy management