include ../book/_book

// Accordions
section#services.section-md.bg-100
	.container
		h2 I Offer a Whole Range of #[br.d-none.d-md-inline]Medical Services
		.accordion
			.accordion-item.active
				.accordion-head.h3 Doctor's Consultation
				.accordion-body
					.row.row-10.row-content
						.col-md-6
							p Need a consultation regarding your treatment or diagnosis? I’m always ready to provide you with professional healthcare consulting that is offered at an affordable price.
						.col-md-6
							p At MedoX, you can expect nothing less than the ultimate level of care when it comes to treatments and consultations.
					.row.row-10.row-content
						.col-sm-6
							ul.list.list-marked
								li.list-item Individual prescriptions
								li.list-item Personalized medical consultations
								li.list-item Choosing appropriate treatment options
								li.list-item Detailed medical opinion
						.col-sm-6
							ul.list.list-marked
								li.list-item Online medical consulting
								li.list-item Diagnostic services
								li.list-item Urgent medical consulting
					+book({
						title: 'Book Your Online Appointment',
						value: '1hr / $25.00'
					})

			.accordion-item
				.accordion-head.h3 Diagnostic Services
				.accordion-body
					.row.row-10.row-content
						.col-md-6
							p When specialized diagnostic services are needed, the full facilities of the Medox Clinic are available to the patients. The in-house laboratory offers our patients a unique level of care.
						.col-md-6
							p When you are ill or when swift diagnosis can provide peace of mind, it is important to have rapid access to information about your condition.
					.row.row-10.row-content
						.col-sm-6
							ul.list.list-marked
								li.list-item Laboratory medicine
								li.list-item Radiology
								li.list-item Pathology
								li.list-item Teleradiology
						.col-sm-6
							ul.list.list-marked
								li.list-item MRI
								li.list-item Mammography
								li.list-item Computed tomography
					+book({
						title: 'Book Your Online Appointment',
						value: '1hr / $20.00'
					})

			.accordion-item
				.accordion-head.h3 Urgent Care
				.accordion-body
					.row.row-10.row-content
						.col-md-6
							p Do you or a family member have a medical issue that needs to be taken care of right away? Medox has you covered. Our urgent care does not require appointments or referrals.
						.col-md-6
							p When you need our help, all you need to do is walk in and tell us what’s wrong. Dr. Courtney Williams will be ready to help you with any illness or healthcare issue.
					.row.row-10.row-content
						.col-sm-6
							ul.list.list-marked
								li.list-item Unconsciousness
								li.list-item Severe abdominal pain
								li.list-item Severe allergic reactions
								li.list-item Severe burns
						.col-sm-6
							ul.list.list-marked
								li.list-item Severe choking including drowning
								li.list-item Severe/open fractures
								li.list-item Signs of stroke or heart attack
					+book({
						title: 'Book Your Online Appointment',
						value: '1hr / $35.00'
					})

			.accordion-item
				.accordion-head.h3 Primary Care
				.accordion-body
					.row.row-10.row-content
						.col-md-6
							p Dr. Courtney Williams is capable of providing non-emergency medical care for patients of all ages. Whatever the issue, you can trust Dr. Williams to provide all of the required treatments.
						.col-md-6
							p At MedoX, you can expect nothing less than the ultimate level of care when it comes to treatments and consultations.
					.row.row-10.row-content
						.col-sm-6
							ul.list.list-marked
								li.list-item Physical exams
								li.list-item Routine checkups
								li.list-item X-rays
								li.list-item Primary care services
						.col-sm-6
							ul.list.list-marked
								li.list-item Urgent care services
								li.list-item Flu shots
								li.list-item Vaccinations
					+book({
						title: 'Book Your Online Appointment',
						value: '1hr / $40.00'
					})

			.accordion-item
				.accordion-head.h3 Annual Wellness Physical
				.accordion-body
					.row.row-10.row-content
						.col-md-6
							p The wellness physical follows a specific set up steps approved by Medicare. As a “wellness” exam, the primary purpose of this physical is to prevent future medical issues.
						.col-md-6
							p In a wellness physical, doctors follow a plan of care, the entirety of which is covered under Medicare Part B benefits.
					.row.row-10.row-content
						.col-sm-6
							ul.list.list-marked
								li.list-item A health risk assessment
								li.list-item A review of your family medical history
								li.list-item Reviewing your current medications
								li.list-item Routine measurements for height, weight, etc.
						.col-sm-6
							ul.list.list-marked
								li.list-item Assessing signs of memory loss or dementia
								li.list-item A personalized consultation with your physician
								li.list-item Health screenings and preventive care services
