include ../quote/_quote

// Blockquotes
section#reviews.section-md.bg-transparent.text-center
	.container
		h2 What People Say
		p Take a look at the recent testimonials submitted by our patients
		.row.row-30.text-left
			.col-sm-6
				+quote({
					authorImg: 'person-01-64x64',
					authorName: 'Fred Thompson',
					authorMeta: 'Patient',
					quote: 'The clinic is looking lovely since it was refurbished last summer, such an improvement. Dr Williams is great, a really sympathetic and understanding doctor. Highly recommended.'
				})
				+quote({
					authorImg: 'person-02-64x64',
					authorName: 'Gloria Jones',
					authorMeta: 'Patient',
					quote: 'I went yesterday for an emergency appointment for my eye. The clinic was running late but I was warned as I arrived and didn’t have to wait long. The doctor gave me a thorough examination and I came away reassured and with a prescription and a good understanding of the ongoing treatment.'
				})

			.col-sm-6
				+quote({
					authorImg: 'person-03-64x64',
					authorName: 'Martha Butler',
					authorMeta: 'Patient',
					quote: 'This was my first consultation, and Dr. Williams was exceedingly professional.'
				})
				+quote({
					authorImg: 'person-04-64x64',
					authorName: 'Linda Sanders',
					authorMeta: 'Patient',
					quote: 'Thank you so much for fitting us in today, don’t know what we’d have done without you. My daughter is quite timid, but you were  brilliant with her.'
				})
				+quote({
					authorImg: 'person-05-64x64',
					authorName: 'Bruce Price',
					authorMeta: 'Patient',
					quote: 'Dr. Courtney Williams was so very helpful from the very beginning to my actual appointment.'
				})
