include ../blurb/_blurb

// Person
section.section-md.bg-100
	.container
		.row.row-30.justify-content-center.justify-content-md-between.flex-md-row-reverse
			.col-auto.col-xs-8.col-md-6.col-lg-5.col-xl-6
				+img( 'index-01-490x360' )
			.col-auto.col-xs-8.col-md-6.col-xxl-5
				h1 Dr. Courtney Williams
				h3.text-primary Reliable and Affordable Family Doctor
				+blurb-side({
					iconClass: 'mdi-phone',
					title: '+1 (800) 925-63-24',
					text: 'Call Now and Get a FREE Consultation'
				})
				h5 2965  Pine Garden Ln. #[br]Nelson, GA 30107