@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.image-responsive {
	display: inline-block;
	max-width: 320px;
}


// Media
@include media-breakpoint-up( md ) {
	.image-responsive {
		max-width: 100%;
	}
}